<div><!--user is an object which will contain value "undefined" before performing actual search. And in JS "undefined" is FALSE-->
    <h2>{{user.name}}</h2>
    <h2>{{error}}</h2>
    <img ng-src="{{user.avatar_url}}" alt="{{user.name}}">
    <h2>Repository Details</h2>
    <b>Order:</b>
    <select ng-model="myOrder">
        <option value="+name">Name Ascending</option>
        <option value="-name">Name Descending</option>
        <option value="-stargazers_count" selected>Stars Descending</option>
        <option value="+stargazers_count">Stars Ascending</option>
        <option value="+language">Language Ascending</option>
        <option value="-language">Language Descending</option>
    </select>
    <table>
        <thead>
        <tr>
            <td><b>Name</b></td>
            <td><B>Stars</B></td>
            <td><b>Language</b></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="repo in repos | orderBy :myOrder">
            <td>
                <a href="#/repo/{{user.login}}/{{repo.name}}"> <!--invokes route for repo-->
                {{repo.name}}</a>
            </td>
            <td>{{repo.stargazers_count | number }}</td>
            <td>{{repo.language}}</td>
        </tr>
        </tbody>
    </table>
    <a href="#/main">Back to Search</a>
</div>